$bg-color: #eee;
$highlight-color: #CB8589;
$highlight2-color: #6fa8dc;
$primary-color: #333;
$secondary-color: #A8A8A8;
$verse-color: #ffffff;

$header-fontsize: 24px;
$primary-fontsize: 18px;
$secondary-fontsize: 14px;
$small-fontsize: 12px;