@font-face {
  font-family: 'iconfont';  /* project id："169884" */
  src: url('//at.alicdn.com/t/font_n8tpn3ta32dwjyvi.eot');
  src: url('//at.alicdn.com/t/font_n8tpn3ta32dwjyvi.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_n8tpn3ta32dwjyvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_n8tpn3ta32dwjyvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_n8tpn3ta32dwjyvi.svg#iconfont') format('svg');
}

html{
	position: relative;
	height: 100%;
}

body {
	position: relative;
	height: 100%;
    background: $bg-color;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: $secondary-fontsize;
    color:$primary-color;
    margin: 0;
    padding: 0;
    overflow-y: hidden;

	.swiper-container {
	    width: 100%;
	    height: 120px;
	    padding-top: 0px;
	    position: fixed;
	    background-color: $bg-color;
	    
	}
	
	.swiper-slide {
	    background: $verse-color;
	    width: 105px; 
	    height: 100%;
	    margin-right: 30px;
	  	display: flex;
	  	flex-direction: column;
	    justify-content: center;
	    align-items: center;

	    .swiper-slide-weekday{
			font-size: $secondary-fontsize;
	    }
	    .swiper-slide-date{
	    	font-size: $header-fontsize;
	    }
	}
	.swiper-slide-active{
		background-color: $highlight-color;
		p{
			color: $verse-color;
		}

	}

	.panel{
		width: 100%;
		margin-top: 120px;
		position: absolute;
		font-size: $secondary-fontsize;
		overflow-y:scroll;
		
		.panel-bd-icon{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 3px;
			color: darken($secondary-color,20%);

			.iconfont{
			font-family:"iconfont";
			font-size: 20px;
			font-style: normal;
			color: $highlight-color;
		}
		}
		.panel-bd-box{
			height: 20%;
			background-color: $verse-color;
			color: $secondary-color;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 5px;
			padding-top:10px;
			padding-bottom:10px;
			.iconfont{
				font-family:"iconfont";
				font-size: 40px;
				font-style: normal;
				color: $highlight2-color;
			}
			.panel-bd-box-icon{
				margin-left: 30px;

			}
			.panel-bd-box-course{	
				margin-left: 30px;	
				flex: 1;
				p{
					font-size: $small-fontsize;
					margin-top: 5px;
				}
			}
			.panel-bd-box-time{
				width: 20%;
				margin-right: 25px;	
				.start-time{
					text-align: center;	
					font-size: $primary-fontsize;
				}
				.end-time{
					text-align: center;	
					font-size: $small-fontsize;
				}
			}
			.time-status {
			    width: 50px;			
			    background: #fc5e5e;
			    position: relative;
			    margin-left: auto;
			    margin-right: auto;
			    margin-top: -8px;
			    margin-bottom: 10px;
			    padding: 1px;
			    text-align: center;	
			    background-color: $highlight2-color;
				font-size: 10px;
				color: $verse-color;
			}
			  
			.time-status:after {
			    content: "";
			    width: 0;
			    height: 0;
			    position: absolute;
			    bottom: -10px;
			    left: 0;
			    border-left: 25px solid $highlight2-color;
			    border-right: 25px solid $highlight2-color;			    
			    border-bottom: 10px solid transparent;
			}           
		}
		.panel-bd-box-on{	
			color: $primary-color;		
			.iconfont{
				font-family:"iconfont";
				font-size: 40px;
				font-style: normal;
				color: $highlight-color;
			}
			.time-status-on{				
				border: none;
				background-color: $highlight-color;
				color: $verse-color;
			}
			.time-status-on:after{
				border-left: 25px solid $highlight-color;
			    border-right: 25px solid $highlight-color;			    
			    border-bottom: 10px solid transparent;
			}
			.end-time{
				color: $secondary-color;
			}
		}
		.panel-bd-box-done{
			.iconfont{
				font-family:"iconfont";
				font-size: 40px;
				font-style: normal;
				color: $secondary-color;
			}
			.time-status{				
				border: none;
				background-color: $secondary-color;
				color: $verse-color;
			}
			.time-status:after{
				border-left: 25px solid $secondary-color;
			    border-right: 25px solid $secondary-color;			    
			    border-bottom: 10px solid transparent;
			}
		}
	}
}


