
.exam {

	position: relative;
	height: 100%;
    background: $bg-color;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: $secondary-fontsize;
    color:$primary-color;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
     -webkit-tap-highlight-color:transparent;
	.toppanel{
        width:100%;
        height:50px;
        background-color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .toppanel-box {
            width: 50%;
            text-align: center;
            line-height: 50px;
            border-bottom: 2px solid $bg-color;
            color: #ccc;
            font-size: $primary-fontsize;
            font-weight: bold;
        }
        .toppanel-box-on {
            border-bottom: 2px solid darken($highlight2-color,10%);
            color: darken($highlight2-color,10%);
        }

    }

	.panel{
		width: 100%;
		margin-top: -1px;
		font-size: $secondary-fontsize;		

		.panel-bd-box{
			
			background-color: $verse-color;
			color: $secondary-color;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top:5px;

			.panel-bd-box-course{	
				margin-top: 10px;
				margin-left: 20px;
				margin-bottom: 10px;
				flex: 1;
				.course-title{
					color: $highlight2-color;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow:hidden;
					width: 120px;
				}
				p{
					font-size: $small-fontsize;
					margin-top: 5px;
				}
			}
			.panel-bd-box-time{
				width: 120px;
				border-right:1px solid $bg-color;
				height: 64px;
				padding-top: 8px;
				.date{
					text-align: center;	
					font-size: $primary-fontsize;
					color: $highlight2-color;

				}
				.time{
					text-align: center;	
					font-weight:bold;
					font-size: $secondary-fontsize;
				}
			}
			.panel-bd-box-place{
				width: 80px;
				text-align: center;
				margin-right: 10px;
				color: $highlight2-color;
			}         
		}
		.panel-bd-box-on{	
			color: $secondary-color;
			
			.panel-bd-box-time{
				.date{
					color: $highlight-color;
				}
				.time{
					color: $highlight-color;
				}
			}
			.panel-bd-box-course{	
				.course-title{
					color: $highlight-color;
				}
			}
			.panel-bd-box-place{
				.today {
				    background-color: $highlight-color;
				    width: 36px;			
				    position: relative;
				    margin-left: auto;
				    margin-right: auto;
				    margin-top: 0px;
				    margin-bottom: 15px;
				    padding: 0px;
				    text-align: center;	
					font-size: 10px;
					color: $verse-color;
				}
				  
				.today:after {
				    border-left: 18px solid $highlight-color;
				    border-right: 18px solid $highlight-color;
				    content:"";
				    width: 0;
				    height: 0;
				    position: absolute;
				    bottom: -10px;
				    left: 0;		    
				    border-bottom: 10px solid transparent;
				}  
				color: $highlight-color;
			}        
		}
		.panel-bd-box-done{
			
			.panel-bd-box-time{
				.date{
					color: $secondary-color;
				}
			}

			.panel-bd-box-course{	
				.course-title{
					color: $secondary-color;
				}
			}
			.panel-bd-box-place{
				color: $secondary-color;
			}        
		}
		.panel-line{
			width: 100%;
			color: $secondary-color;
			position:relative;
			text-align: center;
			font-size: $small-fontsize;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.panel-line::before {
			content: "";
			border-top: 1px solid lighten($secondary-color,15%);
			display: block;
			position: absolute;
			width: 100px;
			top: 10px;
			left: 10px;
		}

		.panel-line::after {
			content: "";
			border-top: 1px solid lighten($secondary-color,15%);
			display: block;
			position: absolute;
			width: 100px;
			top: 10px;
			right: 10px;
		}
	}
}

