.libraryitem{
	padding-bottom:20px;
	background:$bg-color;
	.toppanel{
		-webkit-filter: blur(10px);
		margin-top: -10px;
		height: 250px;
		z-index:-1;
		opacity: 0.5;
		background-size:cover; 
	}
	.bookname{
		color: $verse-color;
		position:absolute;
		left: 180px;
		top: 120px;
		margin-right: 10px;
		font-size: $primary-fontsize;
		font-weight: bold;
		z-index: 5;
		display: -webkit-box;
		-webkit-line-clamp:2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.author{
		color: $secondary-color;
		position:absolute;
		margin-right: 10px;
		left: 180px;
		top: 180px;
		font-size: $secondary-fontsize;
		z-index: 5;
	}
	.image{
		position: absolute;
		left:30px;
		top:120px;

		img{
			max-width: 120px;
			max-height: 300px;
		}
	}
	.weui-panel{
		margin-top: 30px;
		.weui-panel__hd{
			color: $primary-color;
		}
		.weui-media-box__desc{
			-webkit-line-clamp:5;
		}
		.weui-media-box__info__meta_extra{
			color: $primary-color;
		}
	}
	.weui-panel_access{
		margin-top: 40px;
	}
}